<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Group Name</th>
        <th scope="col">Date of Start</th>
        <th scope="col">Date of Finish</th>
<!--        <th scope="col"></th>-->
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group:${groups}">
        <th scope="row">1</th>
<!--        <td th:text="${group.id}"></td>-->
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
<!--        <td><a th:href="@{/company/companies/{id}(id=${course.getId()})}">Courses</a></td>-->
        <td><a th:href="@{/groups/update/{id}(id=${group.id})}">update</a></td>
        <td><form th:method="delete" th:action="@{/groups/delete/{id}(id=${group.id})}"
        ><input type="submit" value="delete"></form>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn--md" href="/groups/addGroup">add Group</a>
<br><br>
<a class="btn btn--md" href="/">go back</a>
</body>
</html>